img {
  width: 120px;
  height: 120px;
  margin-right: 5px;
}

h1 {
  border-bottom: 1px solid black;
  margin:0;
  padding: 20px;
  font-size: 45px;
  grid-column-start: 1;
  grid-column-end: 3;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 20px;
  margin: 0;
  border-right: 1px solid black;
}

#menu{
  width: 100px;
}

#content{
  width: 640px;
  border: none;
}

#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}

.text {
  font-size: 60px;
  position: absolute;
  /* border: 5px solid gray; */
  padding: 20px 0;
  display: inline;
}

.wrap {
  margin: 0 auto;
  width: 800px;
}
